In [12]:
import pandas as pd

In [13]:
s1 = pd.read_csv('Rajat_v7_12.7725406397842.csv')
s2 = pd.read_csv('Chetan_v16_13.3263858396692.csv')

In [14]:
s1.head()

   id application_date  segment   case_count
0   1       2019-07-06        1  2419.335275
1   2       2019-07-07        1  1601.375786
2   3       2019-07-08        1  3810.980022
3   4       2019-07-09        1  3533.774295
4   5       2019-07-10        1  3533.774295

In [15]:
s1['case_count'] = s1['case_count']*.95 + s2['case_count']*.05

In [16]:
s1.head()

   id application_date  segment   case_count
0   1       2019-07-06        1  2441.213511
1   2       2019-07-07        1  1608.648663
2   3       2019-07-08        1  3825.624688
3   4       2019-07-09        1  3533.891580
4   5       2019-07-10        1  3541.158247

In [18]:
s1.to_csv('ensemble5.csv', index=False)